{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
$(function () {
  $('#chart').highcharts({
    chart: {
      type: 'column',
      marginBottom: 20,
      spacingBottom: 40
    },
    credits: {enabled: false
    },
    title: {
      text: 'Taxonomic composition'
    },
    xAxis: {
      categories: {{ categories|safe }}
    },
    yAxis: {
      min: 0,
      max: 100,
      title: {
        text: 'Relative abundance'
      },
      stackLabels: {
        enabled: false,
        style: {
          fontWeight: 'bold',
          color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
        }
      }
    },
    legend: {
      enabled: false,
      align: 'right',
      x: -30,
      verticalAlign: 'bottom',
      y: 27,
      floating: true,
      backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
      borderColor: '#CCC',
      borderWidth: 1,
      shadow: false
    },
    tooltip: {
      headerFormat: '<b>{point.x}</b><br/>',
      pointFormat: '{series.name}: {point.percentage:.0f}%'
    },
    plotOptions: {
      column: {
        stacking: 'percent',
        dataLabels: {
          enabled: false,
          color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
          style: {
            textShadow: '0 0 3px black'
          }
        }
      }
    },
    series: {{ series|safe }}
  });
});

</script>
{% endblock %}

{% block page_content %}
<div id="chart" style="min-width: 200px; height: 450px; margin: 20 auto"></div></br></br>
<table border="1" style="width:100%">
  <tr>
    <th>Taxonomy</th>
    {% for item in categories %}
    <th align="center">{{ item }}</th>
    {% endfor %}
  </tr>
  <tr>
  {% for row in series %}
  <td></td>
  {% endfor %}
  </tr>
</table>
{% endblock %}
